<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About page</title>
  </head>
  <body>
    <%- include ("./partials/nav.ejs") %>
    <h1>About Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
      illum, tenetur veritatis quia pariatur explicabo! Error assumenda ab
      quidem! Optio animi necessitatibus voluptas, harum deleniti deserunt aut
      ipsam blanditiis numquam?
    </p>
  </body>
</html>
