<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include ("./partials/nav.ejs") %>
    <h1>home page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque velit
      beatae cum quia nesciunt unde illo maiores vel soluta eos! Repellat, autem
      nulla. Mollitia distinctio minus fugit adipisci cupiditate esse!
    </p>
  </body>
</html>
